:root {
  --text: #EAB559;
}

.bg-pattern {
  position: relative;
  width: 100%;
  min-height: 130vh;
  background: url("../assets/counter.png") center/cover no-repeat;
}

.bg-pattern .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(70,44,20,0.5), rgba(70,44,20,0.8));
  z-index: 1;
}

.bg-pattern .content {
  position: relative;
  z-index: 2;
  color: white;
}



.featured-title {
  color: var(--text);
  font-family: "Playfair Display";
  font-size: 32px; 
  font-weight: 600;
  margin-bottom: 40px; 
  text-align: center;
}

